html {
    min-height: 100vh;
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    background: linear-gradient(127deg,rgb(19, 1, 61), rgb(74, 40, 155));
    /* original bg-color
    background-color: rgb(19, 1, 61);
    */
    color: antiquewhite;
    font-size: 22;
}

.header-box {
    display: flex;
    background-color: rgb(112, 107, 124);
    width: 800px;
    height: 300px;
    padding: 10px;
    
}

.recipe-box {
    display:flex;
    width: 820px;
}

.recipe-text-divider {
    background-color: rgb(0, 0, 0);
    margin: 5px;
    padding-top: 10px;

}

.ingredients-box {
    flex: 35%;
    background-color: rgb(47, 10, 134);
    background-size: contain;
    height: fit-content;
    
    
}

.instruction-box {
    flex: 65%;
    background-color: rgb(79, 72, 95);
}

img {
    height: 300px;
    width: 270px;
    object-fit: fill;

    
}

h1 {
    font-size: 50px;
    animation: fadeIn 1s forwards;
}

h2 {
    flex: 60%;
    margin: 50px;
    width: fit-content;
    height: fit-content;
    position: relative;
    font-size: 24px;
    border-style:double;
    border-color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 5px;
    animation: slideLeft 1.5s;
    
}

h3 {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

ul {
    padding-right: 10px;
}

ol {
    padding-right: 10px;
}

li {
    font-size: 20px;
    padding-bottom: 10px;
}

p {
    padding-left: 20px;
}

@keyframes fadeIn {
    from {opacity: 0;} to {opacity: 1;}
}

@keyframes slideLeft {
    0% {left:150em;}
    75% {left: 50; opacity: 0.25;}
    100% {left:0em; opacity: 1;}
}